# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.db-journal

# Node
node_modules/
.next/
out/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
